.album {
    margin: 4rem 0;
}

.album h2 {
    color: #ff00a3;
    text-shadow: 2px 2px 0 #000;
}

.album h3 {
    text-shadow: 1px 1px 0 #000;
}

.album .content {
    position: relative;
    bottom: 2rem;
}

/* Responsive */

@media screen and (min-width: 810px) {
    
    .album {
        display: flex;
        align-items: center;
        gap: 3vw;

        margin: 2.5rem 0;
        padding: 1rem;

        border-right: 0.75rem solid #ff00a3;
    }
    
    .album:nth-child(even) {
        border-left: 0.75rem solid #ff00a3;
        border-right: none;
    }

    .album figure {
        flex: 1;
    }

    .album .content {
        flex: 2;
        position: static;
        padding: 0 2rem;
    }
}

@media screen and (min-width: 810px) {
    

}