.albums {
    margin: 4rem 0;
}

.albums h2 {
    color: #ff00a3;
    text-shadow: 2px 2px 0 #000;
}

.albums h3 {
    text-shadow: 1px 1px 0 #000;
}

.albums .content {
    position: relative;
    bottom: 2rem;
}

/* Responsive */

@media screen and (min-width: 810px) {
    
    .album {
        display: flex;
    }

    .album figure {
        flex: 3;
    }

    .album .content {
        flex: 1;
    }
}

@media screen and (min-width: 810px) {
    

}