main {
    background: var(--bg-secondary);
    padding: 4rem 0;
    position: relative;
}

.albums {
    margin-bottom: 4rem;
}

.albums h2 {
    color: var(--cl-accent);
    text-shadow: 2px 2px 0 #000;
}

.albums h3 {
    text-shadow: 1px 1px 0 #000;
}

/* .albums:not(.about-me) .content {
    position: relative;
    bottom: 2rem;
} */