*,
*::before,
*::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothong: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

html {
    font-size: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #fff;
    font-family: Tahoma, Verdana, sans-serif;
    background: #000;
    margin: 0;
}

b,
strong {
    font-weight: bolder;
}

a {
    color: inherit;
    background-color: transparent;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    margin: 0;
    line-height: 1;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.75rem;
}

p {
    font-size: 1.25rem;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 1rem 0 0;
}

figure {
    margin: 0;
}

.container {
    padding: 1.25rem;
}