header {
    min-height: 100vh;
    background-image: url(../MatrosÌŒ-zmensene/header.JPG);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    align-items: flex-end;
}

.main-nav {
    width: 100vw;
    background: rgba(38, 38, 38, 0.5);

    position: fixed;
    left: 0px;
    top: 0px;

    z-index: 2;
}

.main-nav .menu {
    font-size: clamp(1.35rem, 6vw, 2.75rem);
    line-height: 1;

    display: flex;
    gap: clamp(0.85rem, 4vw, 2rem);
}

.main-nav .contact {        /* pre ikonku */
    width: 3em;
    padding-left: 0.5rem;
    vertical-align: middle;
    /* display: none; */
}

.main-nav li {
    display: flex;
    align-items: center;
}

.main-nav li:last-of-type {
    margin-left: auto;
}

@media screen and (min-width: 810px) {
    
    .main-nav .contact {
        display: inline-block;
    }

    .pullquote {
        width: 100%;
        position: relative;
        left: -68px;
    }
}

@media screen and (min-width: 420px) {

    header {
        background-position: 50% 50%;
    }
}