/* general */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

/* clearfix */
.group:before,
.group:after { content: " "; display: table; }
.group:after { clear: both; }


body {
    margin: 0;
    
    font-family: "Amaranth", sans-serif;
    /* background: hsl(240, 7%, 95%); */
    background-image: linear-gradient(to bottom, #404040 0%, #F0F0F2 100%);

    height: 65.9375em;                                     /* 1055/16 */
    height: auto;
}

/* navigation */
a {
    text-decoration: none;
}

.menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav li {
    float: left;
    letter-spacing: 0.1875em;                               /* 3/16 */
    padding-top: 1em;                                       /* 16/16 */
    padding-left: 1.875em;                                  /* 30/16 */
}

.social li {
    float: right;
    padding-top: 1em;                                       /* 16/16 */
    padding-right: 1.875em;                                 /* 30/16 */
}

.social a {
    font-size: 1.3125em;                                    /* 21/16 */
}

.container {
    margin-top: 3.125em;                                    /* 50/16 */
    text-align: center;
}

.nav-soc {
    background: #0D0D0D;
    width: 100%;
    height: 3em;                                            /* 48/16 */
    display: block;
}

.nav-soc a {
    color: hsl(0, 0%, 95%);
}

.menu a:hover,
.menu a:focus {
    color: hsl(94, 69%, 47%);
}

/* main */
h1, h3 {
    letter-spacing: 0.0625em;                               /* 1/16 */
}

p{
    letter-spacing: 0.09375em;                              /* 1.5/16 */
}

h1 {
    color: hsl(94, 69%, 47%);
}

.description {
    display: block;
}

.description a {
    color: hsl(0, 0%, 55%);
}

.description a:hover,
.description a:focus {
    color: hsl(94, 69%, 47%);
}

.core {
    max-width: 69em;                                        /* 1104/16 */
    margin: 3.75em auto;                                    /* 60/16 */
}

.core > h3 {
    text-align: center;
}

.core {
    border-top: 0.0625em solid hsl(0, 0%, 65%);           /* 1/16 */
}

.byline p {
    line-height: 1.5em;                                     /* 24/16 */
    margin-left: 15em;                                      /* 240/16 */
}

.byline h3 {
    margin-left: 11.4em;
    padding: 0.1em 0;
    
    font-size: 1.3125em;                                    /* 21/16 */
    
    border-bottom: 0.0625em solid hsl(0, 0%, 65%);        /* 1/16 */
}

.byline p {
    text-align: left;
}

.photo {
    float: left;
}

.photo img {
    border-radius: 0.625em;                                 /* 10/16 */
}

.bio p {
    color: #0D0D0D;
}

.pullquote {
    text-align: right;
    margin-top: 2em;
}

.pullquote q {
    font-style: italic;
    color: #595959;
}

.pullquote p {
    text-align: right;
    font-style: italic;

    color: hsl(0, 0%, 35%);
}


/* media queries */
@media ( max-width: 719px ) {
    
    .container {
        max-width: 100%;

    }

    .core {
        margin: 3.75em 2em;
    }

    .photo {
        float: none;
    }

    .byline {
        padding: 1.875em 0;                                 /* 30/16 */
    }

    .byline h3,
    .byline p {
        margin-left: 0;
    }

    .bio p {
        text-align: justify;
        letter-spacing: 0.1em;
        padding: 0 1.5em;

        color: hsl(0, 0%, 15%);
    }

    .pullquote p {
        text-align: right;
        padding-right: 0;
    }

    .pullquote {
        padding-right: 1.5em;
    }
}

@media ( max-width: 530px ) {

    .writte {
        display: none;
    }

    .bio p {
        padding: 0;
    }

    .pullquote {
        padding-right: 0;
    }
}

@media ( max-width: 499px ) {

    .nav li {
        display: grid;
        width: 25%;
        padding: 1em 0 0.5em 0;

        text-align: center;
    }

    .social li {
        display: grid;
        width: 50%;
        margin: 0;
        padding: 0.5em 0;
        text-align: center;
    }

    .core {
        margin: 1.25em;
    }

}